<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>ADMISSION</h1>
                <p>Admission procedure is carried out by an open advertisement made by Jharkhand Combined Entrance Competitive Examination Board(JCECEB), Ranchi which invites application, conducts written test at different centers in the state and subsequently arranges counseling works of the selected candidates on merit basis to get admission in different Government Polytechnics / Mining Institutes / Other approved private polytechnics of the state. Reservation policy of the Jharkhand Government is strictly maintained in this selection process. Beside this 1 seat in each discipline is also reserved for the ward of defense personal.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Course Fee</h2>
                <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">सामान्य/पिछड़ा वर्ग</th>
                        <th scope="col">राशि</th>
                        <th scope="col">अनुसूचित जाति/जनजाति	</th>
                        <th scope="col">राशि</th>
                        <th scope="col">TFW/छात्राओं</th>
                        <th scope="col">राशि</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                      </tr>
                     
                    </tbody>
                    <tbody>
                      <tr>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                      </tr>
                     
                    </tbody>
                    <tbody>
                      <tr>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                      </tr>
                     
                    </tbody>
                    <tbody>
                      <tr>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                      </tr>
                     
                    </tbody>
                    <tbody>
                      <tr>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                        <td>नामांकन शुल्क</td>
                        <td>₹ 05</td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h2>Examination</h2>
                <p>The examination and certification of the selected and admitted candidates are done by Jharkhand University of Technology(JUT), Ranchi, Jharkhand. At present, semester system. Minimum 75% attendance of the students is necessary for appearing at their Board Examinations conducted by Jharkhand University of Technology(JUT), Ranchi, Jharkhand.</p>
            </div>
        </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-alert></app-alert>
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-modal></app-modal>
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-offcanvas></app-offcanvas>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-pagination></app-pagination>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-popover></app-popover>
        </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-progressbar></app-progressbar>
        </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-rating></app-rating>
        </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-offcanvas></app-offcanvas>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-scrollspy></app-scrollspy>
        </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-table></app-table>
        </div>
    </div>
  </div>
</section>

