<h1>Gallery</h1>


  
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <app-timepicker></app-timepicker>
          </div>
      </div>
    </div>
  </section> 
  
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <app-datepicker></app-datepicker>
        </div>
    </div>
  </div>
</section> 

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <app-typeahead></app-typeahead>
          </div>
      </div>
    </div>
  </section>
