<app-header></app-header>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">home</a></li>
    <li><a routerLink="/admission" routerLinkActive="active" ariaCurrentWhenActive="page">admission</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">about</a></li>
    <li><a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">gallery</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

