<p>Default pagination:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

<p>No direction links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination>

<p>With boundary links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

<hr />

<pre>Current page: {{page}}</pre>

<!-- ------------------------ Second ---------------------- -->
<p>Restricted size, no rotation:</p>
<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

<p>Restricted size with rotation:</p>
<ngb-pagination
	[collectionSize]="120"
	[(page)]="page"
	[maxSize]="5"
	[rotate]="true"
	[boundaryLinks]="true"
></ngb-pagination>

<p>Restricted size with rotation and no ellipses:</p>
<ngb-pagination
	[collectionSize]="120"
	[(page)]="page"
	[maxSize]="5"
	[rotate]="true"
	[ellipses]="false"
	[boundaryLinks]="true"
></ngb-pagination>

<hr />

<pre>Current page: {{page}}</pre>

<!-- ------------------------ Third ------------------------ -->
<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="lg"></ngb-pagination>
<ngb-pagination [collectionSize]="50" [(page)]="currentPage"></ngb-pagination>
<ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination>
